.hall{
    display: flex;
    flex-direction: column;
    margin:10px;
}
.hpart1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.hpart2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}